* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
html {
  font-family: "Merriweather", serif;

  scroll-behavior: smooth;
}
section {
  width: 100%;
  font-weight: 900;
  height: 800px;
}

section nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.logo {
  margin: -3px 0 0 30px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid #fac031;
  background: var(--focus-input-bg-color);
}

.input:focus ~ .search {
  fill: #fac031;
}

.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
section nav ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.icons {
  width: 100px;
  color: #000000;
}

.top_menu {
  height: 100%;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

section nav .logo img {
  width: 100px;
  height: 49px;
  margin: 7px 0;
}
section nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0 25px;
}
section nav ul li {
  display: inline-block;
  margin: 0 15px;
}
section nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 900;
  font-size: 17px;
  text-transform: capitalize;
  transition: 0.2s;
}
section nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.5s linear;
}
section nav ul li a:hover::after {
  width: 100%;
}
section nav ul li a:hover {
  color: #fac031;
}
section nav .icons i {
  font-size: 18px;
  line-height: 18px;
  margin: 0 5px;
}
section nav .icons i:hover {
  color: #fac031;
  cursor: pointer;
}
.text-intro {
  width: 50%;
  color: #fac031;
  line-height: 50px;
}
.text-intro-r {
  width: 50%;
  height: 100%;
}
.text-intro-r img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes grow {
  from {
    box-shadow: 0px 0px 1em #000;
  }
  to {
    box-shadow: 0px 0px 3em #000;
  }
}

/* box */
.profile-chef {
  width: 95%;
  height: 681px;
  background: #222f33;
  position: relative;
  margin: 0 auto;
}
.profile-chef .box-l {
  width: 95%;
  height: 400px;
  background: #ffffff;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}
.profile-chef .box-l .box-l--content {
  width: 70%;
  padding: 0 35px;
}
.profile-chef .box-l .box-l--content h3 {
  color: #222f33;
  font-size: 30px;
  font-weight: 900;
}
.profile-chef .box-l .box-l--content p {
  line-height: 26px;
  color: #646d70;
  font-weight: 400;
  width: 100%;
}
.box {
  background: #ffffff;
  width: 100%;
  height: 223px;
  position: absolute;
  top: 0;
}

.box-img {
  width: 30%;
  height: 100%;
}
.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* btn */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(27, 27, 27);
  padding: 15px 25px;
  border: 1px solid;
  border-radius: 1000px;
  display: inline-block;
  transition: all 0.2s;
  width: 30%;
  text-align: center;
  margin-top: 10px;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  background-color: rgb(0, 238, 255);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

.box-bt {
  width: 100%;
  height: 282px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
.box-bt h3 {
  font-size: 30px;
}
.box-btl {
  width: 35%;
}
.box-btr {
  width: 35%;
}

.box-btr,
.box-btl p,
h3 {
  color: #ffffff;
  margin-bottom: 20px;
  line-height: 24px;
}

/* about chef */
.about-chef {
  height: 100%;
  width: 100%;
}
.about-chef-container {
  width: 95%;
  margin: 60px auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-chef-container .about-chef-r {
  width: 50%;
  margin-right: 40px;
  height: 100%;
}
.about-chef-container .about-chef-r img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.about-chef-l {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 40px 0;
  flex-wrap: wrap;
}
.about-chef-l .about-content {
  flex: 0 0 calc(50% - 20px);
  margin: 0 10px;
  display: flex;
  align-items: self-start;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 10px;
}
.about-chef-l .about-content h3 {
  font-size: 18px;
}
.about-chef-l .about-content p {
  color: #646d70;
  line-height: 22px;
}
/* iframe */
iframe {
  width: 100%;
}

/* footer */
footer {
  width: 100%;
  background-color: #eeeeee;
  padding: 30px 0;
  height: 300px;
  clear: both;
  text-align: center;
}

footer .footer-main .footer-tag {
  text-align: center;
  line-height: 22px;
  width: 20%;
}
.footer-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .footer-main .footer-tag h2 {
  margin-bottom: 25px;
  font-size: 30px;
}
footer .footer-main .footer-tag a {
  margin: 10px;
  display: block;
  text-decoration: none;
}
footer .footer-main .footer-tag a {
  color: #222f33;
  margin: 10px;
}
footer .footer-main .footer-tag a:hover {
  background: orange;
  width: 50%;
  color: antiquewhite;
}
footer .end {
  text-align: center;
  line-height: 22px;
}
footer .end span {
  color: #fac031;
  padding: 15px;
}
.menu-mobile {
  width: 50%;
  margin: 10px 190px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
  max-height: 0;
}
.menu-mobile.show {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  max-height: 370px;
  position: fixed;
  top: 55px;
  background-color: #fac031;
  z-index: 30;
  right: -190px;
}
@media (max-width: 768px) {
  section nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    z-index: 15;
  }
  section nav .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .logo {
    margin: 0;
  }
  .search {
    color: #fac031;
  }
  .fancy-bg {
    background-color: #ffffff;
  }
  .input::placeholder {
    color: #fac031;
  }

  .icons {
    display: none;
  }
  .burger {
    display: block;
  }

  section nav .logo img {
    margin: 0;
  }
  section {
    height: 100%;
  }
  section nav ul li {
    display: block;
    background-color: red;
  }
  section nav ul {
    display: none;
  }
  ul.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px 0;
    margin-right: 30px;
    text-align: end;
  }
  ul.menu-container li {
    list-style: none;
    width: 100%;
  }
  ul.menu-container li a {
    text-decoration: none;
    color: #ffffff;
  }

  .text-intro {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .text-intro h2 {
    font-size: 20px;
  }
  .text-intro-r {
    width: 100%;
  }
  .section_container {
    flex-direction: column-reverse;
  }
  .profile-chef .box-l {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
  }
  .box-img {
    width: 100%;
    height: 100%;
  }

  .profile-chef .box-l .box-l--content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .profile-chef .box-l .box-l--content p {
    text-align: center;
  }

  .btn:link,
  .btn:visited {
    width: 100%;
  }
  .hide_mobile {
    display: none;
  }
  .about-chef-container {
    flex-direction: column;
  }
  .about-chef-container .about-chef-r {
    width: 100%;
    margin: 0;
  }
  .about-chef-l {
    width: 100%;
    margin-top: 15px;
  }
  .about-chef-l .about-content {
    text-align: center;
    align-items: center;
  }
  .box-btr,
  .box-btl p,
  h3 {
    margin: 0;
  }
  footer {
    height: 100%;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  footer .footer-main .footer-tag {
    width: 100%;
  }
}
