* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid #fac031;
  background: var(--focus-input-bg-color);
}

.input:focus ~ .search {
  fill: #fac031;
}

.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.logo {
  margin: -3px 0 0 30px;
}

nav ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.icons {
  width: 100px;
}

.top_menu {
  height: 100%;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

nav .logo img {
  width: 100px;
  height: 49px;
  margin: 7px 0;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0 25px;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;

  font-weight: 900;
  font-size: 17px;
  text-transform: capitalize;
  transition: 0.2s;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.5s linear;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: #fac031;
}
nav .icons i {
  font-size: 18px;
  line-height: 18px;
  margin: 0 5px;
}
nav .icons i:hover {
  color: #fac031;
  cursor: pointer;
}
h1 {
  font-size: 55px;
  text-align: center;
}
h1 span {
  color: #fac031;
  margin-left: 10px;
  display: inline-block;
  font-family: mv boli;
}
h1 span::after {
  content: "";
  width: 100%;
  background: #fac031;
  height: 2px;
  display: block;
}

.review-card {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-card .review-left {
  flex: 0 0 calc(50% - 40px);
  margin: 0 20px;
}
.review-card .review-left img {
  width: 100%;
  border-radius: 30px;
}
.review-card .review-right {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px 0;
}

.review-card .review-right h2 {
  font-size: 50px;
  color: #fac031;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.review-card .review-right p {
  color: #222f33;
  font-size: 20px;
  line-height: 1.5;
}
.review-card .review-right p:nth-child(3) {
  font-size: 30px;
  text-transform: capitalize;
  color: #fac031;
}
.review-card .review-right ul li {
  /* list-style: none; */
  color: #222f33;
  margin: 10px 20px;
  font-size: 20px;
}
/* menu-btn */
.menu-btn {
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
}

.btns {
  display: flex;
  gap: 0 30px;
}
.btn_add {
  padding: 8px 40px;
  background: #333;
  border-radius: 20px;
}
.btn_add:hover {
  background: #fac031;
  transition: all 0.3s;
}
.add-cart {
  text-decoration: none;
  color: #fff;
}

footer {
  width: 100%;
  background-color: #eeeeee;
  padding: 30px 0;
  height: 300px;
  clear: both;
  text-align: center;
}
.footer-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-main .footer-tag {
  text-align: center;
  line-height: 22px;
  width: 20%;
}
footer .footer-main .footer-tag h2 {
  margin-bottom: 25px;
  font-size: 30px;
}
footer .footer-main .footer-tag a {
  margin: 10px;
  display: block;
  text-decoration: none;
}
footer .footer-main .footer-tag a {
  color: #222f33;
  margin: 10px;
}
footer .footer-main .footer-tag a:hover {
  background: orange;
  width: 50%;
  color: antiquewhite;
}
footer .end {
  text-align: center;
  line-height: 22px;
}
footer .end span {
  color: #fac031;
  padding: 15px;
}

.menu-mobile {
  width: 50%;
  margin: 10px 190px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
  max-height: 0;
}
.menu-mobile.show {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  max-height: 370px;
  position: fixed;
  top: 55px;
  background-color: #fac031;
  z-index: 30;
  right: -190px;
}
.btn_oder {
  padding: 8px 40px;
  background: #333;
  border-radius: 20px;
}
.btn_oder:hover {
  background: #fac031;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    z-index: 15;
  }
  nav .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .logo {
    margin: 0;
  }
  .search {
    color: #fac031;
  }
  .fancy-bg {
    background-color: #ffffff;
  }
  .input::placeholder {
    color: #fac031;
  }

  .icons {
    display: none;
  }
  .burger {
    display: block;
  }

  nav .logo img {
    margin: 0;
  }

  nav ul li {
    display: block;
    background-color: red;
  }
  nav ul {
    display: none;
  }
  ul.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px 0;
    margin-right: 30px;
    text-align: end;
  }
  ul.menu-container li {
    list-style: none;
    width: 100%;
  }
  ul.menu-container li a {
    text-decoration: none;
    color: #ffffff;
  }
  .container-left {
    display: none;
  }
  .container-right {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    height: 100%;
  }
  footer {
    height: 100%;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  footer .footer-main .footer-tag {
    width: 100%;
  }
  .list .list-container .list-wrap {
    border-radius: 20px;
  }
  .list-card-l {
    width: 100%;
    flex: 0 0 100%;
    margin: 0;
  }
  .menu-btn {
    right: 50%;
    transform: translateX(50%);
  }
  .list .list-container .list-wrap .list-card-l img {
    border-radius: 20px;
  }
  .list .list-container .list-wrap .list-card-r a h3 {
    display: none;
  }
  .text-c {
    font-size: 25px;
  }
  .title {
    font-size: 35px;
    margin-top: 50px;
  }
  .review-container {
    width: 95%;
    margin: 0 auto;
  }
  .review-card .review-left {
    flex: 0 0 100%;
    margin: 0;
  }
  .review-card .review-right h2 {
    text-align: center;
    margin-bottom: 0;
  }
  .review-card {
    flex-direction: column;
  }
  .btns {
    align-items: center;
    justify-content: space-between;
  }
}
