* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100%;
}
section nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid #fac031;
  background: var(--focus-input-bg-color);
}

.input:focus ~ .search {
  fill: #fac031;
}

.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
section nav ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.icons {
  width: 100px;
}
.top_menu {
  height: 100%;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

section nav .logo img {
  width: 100px;
  height: 49px;
  margin: 7px 0;
}
section nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0 25px;
}

section nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  text-transform: capitalize;
  transition: 0.2s;
}
section nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.5s linear;
}
section nav ul li a:hover::after {
  width: 100%;
}
section nav ul li a:hover {
  color: #fac031;
}
section nav .icons i {
  font-size: 18px;
  line-height: 18px;
  margin: 0 5px;
}
section nav .icons i:hover {
  color: #fac031;
  cursor: pointer;
}
section .main {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px 0;
}
section .main .main-text h1 {
  /* font-size: 60px; */
}

section .main .main-text p {
  text-align: justify;
  line-height: 22px;
  margin: 35px 0 0 0;
  width: 650px;
  height: 132px;
}
.main-img {
  width: 50%;
  height: 100%;
}
section .main .main-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-button {
  background: #fac031;
  padding: 15px 25px;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  border-radius: 20px;

  text-align: center;
}

.main-button2:hover i {
  transform: translateX(7px);
}

.ct {
  text-align: center;
}
.main-button a {
  text-decoration: none;
  color: #eeeeee;
}
.main-button a {
  text-decoration: none;
  color: #fff;
}
.main-button i {
  color: #fff;
  transition: 0.3s;
}
.main-button:hover i {
  transform: translateX(7px);
}

/* About */
#About {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-img {
  width: 50%;
  height: 100%;
}
#About .about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px 0;
}

#About .about-text h1 span {
  font-family: sans-serif;
  color: #333;
  margin-left: -12px;
  margin-left: 10px;
}
#About .about-text h3 {
  font-size: 30px;
  font-weight: 700;
  margin-top: -30px;
}
#About .about-text p {
  line-height: 22px;
  text-align: justify;
  width: 650px;
}
#About .about-text .btn-about {
  padding: 12px 25px;
  background: #fac031;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;

  display: inline-block;
  cursor: pointer;
}
#About .about-text .btn-about a {
  text-decoration: none;
  color: #fff;
}
#About .about-text .btn-about i {
  color: #fff;
  transition: 0.3s;
}
#About .about-text .btn-about:hover i {
  transform: translateX(7px);
}
/* menu */
.menu {
  width: 100%;
  height: 100%;
}
.menu h1 {
  font-size: 55px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.menu .menu-box {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 700px;
  overflow: hidden;
}
.menu .menu-box .menu-card {
  height: 480px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px 0 0 0;
  border-radius: 20px;
  position: relative;
  width: 400px;
  margin: 15px;
}
.menu .menu-box .menu-card .menu-img {
  width: 100%;
  height: 245px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  margin: -10px 0;
}
.menu .menu-box .menu-card .menu-img:hover {
  scale: 1.1;
  transition: 0.2s all;
}
.menu .menu-box .menu-card .menu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.2s;
}
.menu .menu-box .menu-card .menu-info {
  padding: 0 12px;
}

.menu .menu-box .menu-card .menu-info h2 {
  font-size: 25px;
  color: #fac031;
  text-transform: capitalize;
  text-align: center;
  margin: 10px 0;
}
.menu .menu-box .menu-card .menu-info strong {
  padding: 10px;
}
.menu .menu-box .menu-card .menu-info p {
  line-height: 21px;
  text-align: center;
  margin-bottom: 15px;
}
.menu .menu-box .menu-card .menu-info h3 {
  text-align: center;
}
.menu .menu-box .menu-card .menu-info .menu-icons {
  margin: 10px 0;
  text-align: center;
  color: #fac031;
}
.menu .menu-box .menu-card .menu-info .menu-icons i {
  margin: 0 1px;
}
.menu .menu-box .menu-card .menu-info .menu-btn {
  padding: 8px 40px;
  background: #333;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}
.menu .menu-box .menu-card .menu-info .menu-btn:hover {
  background: #fac031;
  transition: all 0.3s;
}

/* order */
.order {
  width: 100%;
}
.order h1 {
  font-size: 55px;
  color: #333;
  text-align: center;
  font-weight: 700;
  margin: 50px 0;
}

.order .order-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.order .order-box .order-box_left {
  width: 50%;
  height: 100%;
}
.order .order-box .order-box_left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .input {
  flex: 0 0 calc(50% - 20px);
  margin: 10px 10px;
}

.order .order-box form .input label {
  line-height: 25px;
  cursor: pointer;
}

.order-box_right {
  width: 50%;
}
.order .order-box form .input input {
  background: #eeeeee;
  border: 3px solid #cccccc;
  padding: 10px 13px;
  font-size: 12px;
  outline: none;
  border-radius: 20px;
  width: 100%;
}
.order .order-box form .input input:focus {
  border-color: #fac031;
}
.oder-btn {
  text-decoration: none;
  background: #fac031;
  padding: 5px;
  border-radius: 20px;
  margin: 30px 0;
  display: inline-block;
  width: 100%;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}
.oder-btn:hover {
  background: rgb(239, 124, 82);
}

/* footer  */
footer {
  width: 100%;
  background-color: #eeeeee;
  padding: 30px 0;
  height: 300px;
  clear: both;
  text-align: center;
}
.footer-main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .footer-main .footer-tag {
  text-align: center;
  line-height: 22px;
  width: 20%;
}

footer .footer-main .footer-tag h2 {
  margin-bottom: 25px;
  font-size: 30px;
}
footer .footer-main .footer-tag a {
  margin: 10px;
  display: block;
  text-decoration: none;
}
footer .footer-main .footer-tag a {
  margin: 10px;
  color: #222f33;
}
footer .footer-main .footer-tag a:hover {
  background: orange;
  width: 50%;
  color: antiquewhite;
}
footer .end {
  text-align: center;
  line-height: 22px;
  display: inline-block;
  width: 100%;
}
footer .end span {
  color: #fac031;
  padding: 15px;
}

.menu-mobile {
  width: 50%;
  margin: 10px 190px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
  max-height: 0;
}
.menu-mobile.show {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  max-height: 370px;
  position: fixed;
  top: 55px;
  background-color: #fac031;
  z-index: 30;
  right: -190px;
}
/* responsive cho dt */
@media (max-width: 768px) {
  section nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    z-index: 15;
  }
  section nav .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .logo {
    margin: 0;
  }
  .search {
    color: #fac031;
  }
  .fancy-bg {
    background-color: #ffffff;
  }
  .input::placeholder {
    color: #fac031;
  }

  .icons {
    display: none;
  }
  .burger {
    display: block;
  }

  section nav .logo img {
    margin: 0;
  }

  section nav ul li {
    display: block;
    background-color: red;
  }
  section nav ul {
    display: none;
  }
  .main-img {
    width: 100%;
  }
  section .main {
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 50px auto;
  }
  .main-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .about-text {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .menu .menu-box .menu-card {
    height: 500px;
  }
  #About {
    flex-direction: column;
    height: 100%;
  }
  .about-img {
    width: 100%;
  }
  .order .order-box {
    width: 95%;
    margin: 0 auto;
    height: 100%;
  }
  .order h1 {
    margin: 0;
  }

  .order .order-box .order-box_left {
    display: none;
  }
  .order-box_right {
    width: 100%;
  }
  .flex-container .input {
    margin: 10px 0;
    flex: 0 0 100%;
  }

  .footer-main {
    flex-wrap: wrap;
  }
  footer .footer-main .footer-tag {
    width: 100%;
  }

  ul.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px 0;
    margin-right: 30px;
    text-align: end;
  }
  ul.menu-container li {
    list-style: none;
    width: 100%;
  }
  ul.menu-container li a {
    text-decoration: none;
    color: #ffffff;
  }
  footer {
    height: 100%;
  }
}
