* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.error {
  border: 2px solid red;
}
html {
  scroll-behavior: smooth;
}
nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em, calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color);
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid #fac031;
  background: var(--focus-input-bg-color);
}

.input:focus ~ .search {
  fill: #fac031;
}

.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.logo {
  margin: -3px 0 0 30px;
}

nav ul {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.icons {
  width: 100px;
}

.top_menu {
  height: 100%;
}
.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

nav .logo img {
  width: 100px;
  height: 49px;
  margin: 7px 0;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0 25px;
}
nav ul li {
  display: inline-block;
  margin: 0 15px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;

  font-size: 17px;
  text-transform: capitalize;
  transition: 0.2s;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.5s linear;
}
nav ul li a:hover::after {
  width: 100%;
}
nav ul li a:hover {
  color: #fac031;
}
nav .icons i {
  font-size: 18px;
  line-height: 18px;
  margin: 0 5px;
}
nav .icons i:hover {
  color: #fac031;
  cursor: pointer;
}

/* delivery */
.delivery {
  width: 100%;
  height: 900px;
  background-color: #f0eeed;
  padding: 30px 0;
  position: relative;
}
.delivery .delivery-container {
  width: 95%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.delivery .delivery-container .delivery-l {
  height: 100%;
  flex: 0 0 calc(70% - 10px);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delivery .delivery-container .delivery-l .delivery-top {
  width: 100%;
  background-color: white;
  height: 350px;
  padding: 20px 0;
  margin-bottom: 50px;
}
.delivery .delivery-container .delivery-l .delivery-top form {
  width: 95%;
  margin: 0 auto;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
}
.delivery .delivery-container .delivery-l .delivery-top form .input {
  width: calc(50% - 20px);
  margin: 0 10px;
}
.delivery .delivery-container .delivery-l .delivery-top form .input label {
  display: block;
  margin-bottom: 4px;
}
.delivery .delivery-container .delivery-l .delivery-top form .input input {
  display: block;
  margin-bottom: 4px;
  padding: 10px;
  width: 100%;
}
.delivery
  .delivery-container
  .delivery-l
  .delivery-top
  form
  .input:nth-child(6) {
  width: calc(25% - 10px);

  float: left;
  margin: 0 5px;
}
.delivery
  .delivery-container
  .delivery-l
  .delivery-top
  form
  .input:nth-child(7) {
  width: calc(25% - 10px);
  float: left;
  margin: 0 5px;
}
select#select-field {
  padding: 10px;
  width: 100%;
}
.delivery .delivery-container .delivery-l .delivery-top form .input:last-child {
  width: 100%;
}

.delivery .delivery-container .delivery-l .delivery-mid {
  width: 100%;
  background-color: white;
  height: 200px;
  padding: 20px 0;
  margin-bottom: 50px;
}
.delivery .delivery-container .delivery-l .delivery-mid form {
  width: 95%;
  margin: 0 auto;
}
.delivery .delivery-container .delivery-l .delivery-mid form .delivery-input {
  margin-bottom: 8px;
}
.delivery
  .delivery-container
  .delivery-l
  .delivery-mid
  form
  .delivery-input
  label {
  display: block;
}
.delivery
  .delivery-container
  .delivery-l
  .delivery-mid
  form
  .delivery-input
  input {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  padding: 10px;
}

.delivery .delivery-container .delivery-l .delivery-bt {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
}
.delivery .delivery-container .delivery-l h3 {
  margin-bottom: 20px;
}

/* right */
.delivery .delivery-container .delivery-r {
  flex: 0 0 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.delivery .delivery-container .delivery-r .delivery-card {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.delivery .delivery-container .delivery-r .delivery-card .delivery-img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
.delivery .delivery-container .delivery-r .delivery-card .delivery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.delivery .delivery-container .delivery-r .delivery-card p {
  color: gray;
}

.delivery
  .delivery-container
  .delivery-r
  .delivery-card
  .delivery-control
  button {
  padding: 0 8px;
  outline: none;
  border: none;
  cursor: pointer;
}
.delivery
  .delivery-container
  .delivery-r
  .delivery-card
  .delivery-control
  input[type="number"] {
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.delivery .delivery-container .delivery-r .delivery-card--bt {
  width: 100%;
}
.delivery-r--container {
  height: 700px;
  overflow: scroll;
}
.delivery .delivery-container .delivery-r .delivery-card--bt h3 {
  width: calc(85% - 10px);

  margin: 0 5px;
  color: gray;
}
.delivery .delivery-container .delivery-r .delivery-card--bt p {
  width: calc(15% - 10px);
  margin: 0 5px;
}

.delivery .delivery-container .delivery-r .delivery-card--bt .confirm {
  padding: 10px;
  width: 100%;
  background-color: #125b50;
  color: white;
  border: none;
  cursor: pointer;
}

/* printf */
.card {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #f8fbfe;
  border-radius: 8px;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.tools {
  display: flex;
  align-items: center;
  padding: 9px;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}
.card__content {
  padding: 10px;
  width: 100%;
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

button {
  background-color: #fff;
  border: 1px solid #bc2a8d;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  text-align: center;
  cursor: pointer;
}

button p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #bc2a8d;
  transform: translate(-50%, -50%);
}

button:hover p {
  color: #fff;
}

button:hover svg {
  opacity: 1;
}

button:hover {
  background-color: #bc2a8d;
  transform: translate(5px, -5px);
}
.printf {
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
}
.card__content-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}
.printf-code {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.printf-code--l {
  width: 40%;
}
.printf-code--r {
  width: calc(60% - 30px);

  text-align: end;
  margin: 0 15px;
}

/* printf món ăn */
.card_food__wrap {
  position: relative;
}
.quantity-f {
  text-align: right;
}
.card_food__l {
  height: 100px;
  position: relative;
  margin: 20px 0;
}
.card_food__img {
  width: 30%;
  height: 100px;
  float: left;
}
.card_food__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.card_food__title {
  width: 40%;
  float: left;
}
.card_food__title p {
  margin: 12px 5px;
}

.count {
  position: absolute;
  top: 40%;
  right: 40px;
  transform: translateY(-50%);
}
.card-total {
  text-align: right;
  margin-top: 20px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.menu-mobile {
  width: 50%;
  margin: 10px 190px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: translateX(300px);
  max-height: 0;
}
.menu-mobile.show {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  max-height: 370px;
  position: fixed;
  top: 55px;
  background-color: #fac031;
  z-index: 30;
  right: -190px;
}
.btn_oder {
  padding: 8px 40px;
  background: #333;
  border-radius: 20px;
}
.btn_oder:hover {
  background: #fac031;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    z-index: 15;
  }
  nav .logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .logo {
    margin: 0;
  }
  .search {
    color: #fac031;
  }
  .fancy-bg {
    background-color: #ffffff;
  }
  .input::placeholder {
    color: #fac031;
  }

  .icons {
    display: none;
  }
  .burger {
    display: block;
  }

  nav .logo img {
    margin: 0;
  }

  nav ul li {
    display: block;
    background-color: red;
  }
  nav ul {
    display: none;
  }
  ul.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px 0;
    margin-right: 30px;
    text-align: end;
  }
  ul.menu-container li {
    list-style: none;
    width: 100%;
  }
  ul.menu-container li a {
    text-decoration: none;
    color: #ffffff;
  }
  .container-left {
    display: none;
  }
  .container-right {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    height: 100%;
  }
  footer {
    height: 100%;
  }
  .footer-main {
    flex-wrap: wrap;
  }
  footer .footer-main .footer-tag {
    width: 100%;
  }
  .delivery {
    height: 100%;
    margin-top: 20px;
  }
  .delivery .delivery-container {
    flex-direction: column-reverse;
  }
  .delivery .delivery-container .delivery-r .delivery-card .delivery-img {
    flex: 0 0 calc(50% - 20px);
    height: 100%;
    margin: 0 10px;
  }
  h2#delivery-intro {
    font-size: 18px;
  }
  .delivery-intro {
    flex: 0 0 50%;
  }
  .delivery .delivery-container .delivery-r .delivery-card {
    height: 200px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    justify-content: space-between;
    margin: 20px 0;
  }
  button {
    width: 40px;
  }
  .delivery .delivery-container .delivery-r .delivery-card--bt .confirm {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 90%;
  }
  .delivery .delivery-container .delivery-r {
    width: 95%;
    margin: 0 auto;
  }
  .delivery .delivery-container .delivery-l {
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
  }
  .delivery .delivery-container .delivery-l .delivery-top form .input {
    flex: 0 0 100%;
    width: 100%;
    margin: 0;
  }
  .delivery .delivery-container .delivery-l .delivery-top {
    overflow: scroll;
    overflow-x: hidden;
  }
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card {
    width: 95%;
    margin: 0 auto;
  }
}
